@use '../common';

.window {
    @extend .content-font-base;
    background: rgba(240, 244, 239, 0.5);
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.tabs {
    display: flex;
    gap: 5px;
    @extend .content-font-base;
}

.tab {
    background: rgba(240, 244, 239, 0.5);
    padding: 5px 15px;
    margin-bottom: 5px;
    cursor: pointer;
    user-select: none;

    &[data-active=true] {
        margin-bottom: 0;
        padding-bottom: 5px;
        cursor: default;
    }
}
